In [1]:
import numpy as np
import pandas as pd
import os
import sqlalchemy as sqla
import sqlite3 as sql
from sqlite3 import Error
import re

In [2]:
file_loc = os.getcwd()

In [3]:
file_loc

'C:\\Users\\KH7020823\\sta208\\STA-208-project'

In [4]:
db1= sql.connect(file_loc+"\data1.db")
df1=pd.read_sql("SELECT * FROM loan",db1)
db2= sql.connect(file_loc+"\data2.db")
df2=pd.read_sql("SELECT * FROM loan",db2)
db3= sql.connect(file_loc+"\data3.db")
df3=pd.read_sql("SELECT * FROM loan",db3)
db4= sql.connect(file_loc+"\data4.db")
df4=pd.read_sql("SELECT * FROM loan",db4)
db5= sql.connect(file_loc+"\data5.db")
df5=pd.read_sql("SELECT * FROM loan",db5)
db6= sql.connect(file_loc+"\data6.db")
df6=pd.read_sql("SELECT * FROM loan",db6)
db7= sql.connect(file_loc+"\data7.db")
df7=pd.read_sql("SELECT * FROM loan",db7)
db8= sql.connect(file_loc+"\data8.db")
df8=pd.read_sql("SELECT * FROM loan",db8)
db9= sql.connect(file_loc+"\data9.db")
df9=pd.read_sql("SELECT * FROM loan",db9)
db10= sql.connect(file_loc+"\data10.db")
df10=pd.read_sql("SELECT * FROM loan",db10)
db11= sql.connect(file_loc+"\data11.db")
df11=pd.read_sql("SELECT * FROM loan",db11)
db12= sql.connect(file_loc+"\data12.db")
df12=pd.read_sql("SELECT * FROM loan",db12)

In [5]:
name = ['df1', 'df2','df3','df4','df5','df6','df7','df8','df9','df10','df11','df12']

In [6]:
for i in name:
    print("df = df.append("+i+")")

df = df.append(df1)
df = df.append(df2)
df = df.append(df3)
df = df.append(df4)
df = df.append(df5)
df = df.append(df6)
df = df.append(df7)
df = df.append(df8)
df = df.append(df9)
df = df.append(df10)
df = df.append(df11)
df = df.append(df12)

In [7]:
df = pd.DataFrame()
df = df.append(df1)
df = df.append(df2)
df = df.append(df3)
df = df.append(df4)
df = df.append(df5)
df = df.append(df6)
df = df.append(df7)
df = df.append(df8)
df = df.append(df9)
df = df.append(df10)
df = df.append(df11)
df = df.append(df12)
df.shape

(434407, 65)

In [8]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,num_sats,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,17600,17600,17600,36 months,10.75%,574.12,B,B4,RENT,57109,...,6,0,1,95.1,1,0,88629,83563,2300,80329
1,12500,12500,12500,60 months,8.39%,255.8,B,B1,RENT,120000,...,9,0,1,100,0,0,80899,40673,48400,32499
2,10000,10000,10000,36 months,11.99%,332.1,C,C1,MORTGAGE,75000,...,9,0,2,100,0,1,71858,48844,0,60358
3,3000,3000,3000,36 months,7.39%,93.17,A,A4,RENT,80000,...,6,0,0,95,0,0,221908,25665,42200,30936
4,2000,2000,2000,36 months,6.49%,61.29,A,A2,RENT,90000,...,19,0,2,97.3,0,0,176338,68841,122100,48438

In [9]:
df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose', 'zip_code',
       'addr_state', 'delinq_2yrs', 'earliest_cr_line', 'open_acc',
       'revol_bal', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt', 'last_credit_pull_d',
       'application_type', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'total_rev_hi_lim', 'acc_open_past_24mths', 'avg_cur_bal',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_rev_tl_op',
       'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

Notice that the grade and subgrade variables are assessed directly from the interest rate, that is, the variable int_rate. Thus, mere int_rate suffices to cover the information provided by them, and grade and subgrade can be removed from our list of variables. Also zip_code is not appropriate to be deemed as a variable and issue_d doesn't contain valuable information, we also drop both of them.

#### Dummy variables

Among the 59 variables we have now, some of them are quantitative and have only a few statuses. For these variables, we can establish dummy variables that take either 0 or 1. For quantitative variables that have more than two categories, we combine some of to create more synthesized categories.

For the resonse variable loan_status, because it has 7 different categories, Fully paid, Current, In Grace Period, Late(16-30 days), Late(31-120 days), Default, Charged Off, we want to categorize them into two groups that result to a binary variable. Since the first two categories are signs of a good status of loan, and the latter five indicate different extents of late payment, we denote good status as Fully paid or Current, and bad status as In Grace Period, Late(16-30 days), Late(31-120 days), Default or Charged Off.

loan_status$=
\left\{\begin{array}{cl} 
		1,& \text{good status}\\
		0,& \text{bad status}
	\end{array}\right.$

And among the predictor varibles, purpose also has multiple categories: car, home-improvement, house, moving, major_purchase, renewable_enery, credit_card, debt_consolidation, small_business, medical, vacation and other, which requires many dummy variables. To make the situation simpler, except for medical, we classify car, home_improvement, house, moving, major_purchase and renewable_enery as property, credit_card, debt_consolidation and small_business as financial, vacation and other as others. Therefore, we get 4 categories of purposes, which can be represented by 3 dummy variables:

purpose1$=
\left\{\begin{array}{cl} 
		1,& \text{property}\\
		0,& \text{others} 
	\end{array}\right.$, 
purposes$= 
\left\{\begin{array}{cl} 
		1,&\text{financial} \\
		0,&\text{others} 
	\end{array}\right.$, 
purpose3$=
\left\{\begin{array}{cl} 
		1,&\text{medical} \\
		0,&\text{others}  
	\end{array}\right.$

Also note that addr_state records the state address of the borrower. Considering the data is collected from Lending Club, which locates in San Francisco, CA, we want to know whether it makes a difference if the loan request is from an instate borrower or not. In this case, we only have to make a distinction between a California loaner and a non California borrower.

addr_state$=
\left\{\begin{array}{cl} 
		1,&\text{California} \\
		0,&\text{other states}  
	\end{array}\right.$

Similarly, in verification_status, we combine verified and source verified as verified:

verification_status$=
\left\{\begin{array}{cl} 
		1,& \text{verified}\\
		0, & \text{not verified}
	\end{array}\right.$
 
There are 4 more qualitative variables, which are coded as below:

term$=
\left\{\begin{array}{cl} 
		1,&\text{36 months} \\
		0,&\text{60 others}  
	\end{array}\right.$
 
home_ownership1$=
\left\{\begin{array}{cl} 
		1,& \text{rent}\\
		0,& \text{any}  
	\end{array}\right.$, 
home_ownership2$=
\left\{\begin{array}{cl} 
		1,& \text{own}\\
		0,& \text{any}
	\end{array}\right.$, 
home_ownership3$=
\left\{\begin{array}{cl} 
		1,& \text{mortage}\\
		0,& \text{any} 
	\end{array}\right.$

initial_list_status$=
\left\{\begin{array}{cl} 
		1,& \text{whole}\\
		0,& \text{fraction}
	\end{array}\right.$

application_type$=
\left\{\begin{array}{cl} 
		1,& \text{Individual}\\
		0,& \text{Joint App}
	\end{array}\right.$

In [10]:
data = df.copy()
data = data.reset_index(drop=True)

In [11]:
y_temp = data['loan_status']

In [12]:
# recode loan_status
y = y_temp.copy()
for i in range(len(y)):
    if (y_temp[i] == 'Fully Paid') or (y_temp[i] == 'Current'):
        y[i] = 'good'
    else:
        y[i] = 'bad'

In [13]:
y.head()

0    good
1    good
2    good
3    good
4    good
Name: loan_status, dtype: object

In [14]:
purpose_temp = data['purpose']

In [15]:
#recode purposes
purpose = purpose_temp.copy()
for i in range(len(purpose)):
    if (purpose_temp[i] == 'credit_card') or ( purpose_temp[i] == 'debt_consolidation') or (purpose_temp[i] == 'small_business'):
        purpose[i] = 'finantial'
    elif (purpose_temp[i] == 'vacation') or (purpose_temp[i] == 'other'):
        purpose[i] = 'others'
    elif purpose_temp[i] == 'medical':
        purpose[i] == 'medical'
    else:
        purpose[i] = 'property'

In [16]:
purpose.head()

0    finantial
1    finantial
2    finantial
3       others
4    finantial
Name: purpose, dtype: object

In [17]:
addr_state_temp = data['addr_state']

In [18]:
#recode addr_state
addr_state = addr_state_temp.copy()
for i in range(len(y)):
    if addr_state_temp[i] == 'CA':
        addr_state[i] = 'CA'
    else:
        addr_state[i] = 'other'

In [19]:
addr_state.head()

0    other
1    other
2    other
3    other
4    other
Name: addr_state, dtype: object

In [20]:
verification_status_temp = data['verification_status']

In [21]:
#recode addr_state
verification_status = verification_status_temp.copy()
for i in range(len(y)):
    if verification_status_temp[i] == 'Not Verified':
        verification_status[i] = 'not verified'
    else:
        verification_status[i] = 'verified'

In [22]:
verification_status.head()

0        verified
1    not verified
2    not verified
3    not verified
4    not verified
Name: verification_status, dtype: object

In [23]:
#Create dummy variables
dummy1 = pd.get_dummies(y)
dummy2 = pd.get_dummies(purpose)
dummy3 = pd.get_dummies(addr_state)
dummy4 = pd.get_dummies(data['term'])
dummy5 = pd.get_dummies(data['home_ownership'])
dummy6 = pd.get_dummies(verification_status)
dummy7 = pd.get_dummies(data['initial_list_status'])
dummy8 = pd.get_dummies(data['application_type'])

In [24]:
#Insert dummy variables into dataset
data['loan_status'] = dummy1['good']
data['addr_state'] = dummy3['CA']
data['term'] = dummy4[' 36 months']
data['verification_status'] = dummy6['verified']
data['initial_list_status'] = dummy7['w']
data['application_type'] = dummy8['Individual']

data = data.drop(['purpose','home_ownership','grade','sub_grade','issue_d','zip_code'], axis = 1)
data = pd.concat([data, dummy2.iloc[:,[0,1,3]],dummy5.iloc[:,1:4]],axis = 1)
data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,verification_status,loan_status,addr_state,...,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,finantial,medical,property,MORTGAGE,OWN,RENT
0,17600,17600,17600,1,10.75%,574.12,57109,1,1,0,...,88629,83563,2300,80329,1,0,0,0,0,1
1,12500,12500,12500,0,8.39%,255.8,120000,0,1,0,...,80899,40673,48400,32499,1,0,0,0,0,1
2,10000,10000,10000,1,11.99%,332.1,75000,0,1,0,...,71858,48844,0,60358,1,0,0,1,0,0
3,3000,3000,3000,1,7.39%,93.17,80000,0,1,0,...,221908,25665,42200,30936,0,0,0,0,0,1
4,2000,2000,2000,1,6.49%,61.29,90000,0,1,0,...,176338,68841,122100,48438,1,0,0,0,0,1

dummy1['good']

dummy2.iloc[:,[0,1,3]]

dummy3['CA']

dummy4[' 36 months']

dummy5.iloc[:,1:4]

dummy6['verified']

dummy7['w']

dummy8['Individual']

In [27]:
data.dtypes

loan_amnt                      int64
funded_amnt                    int64
funded_amnt_inv               object
term                           uint8
int_rate                      object
installment                   object
annual_inc                    object
verification_status            uint8
loan_status                    uint8
addr_state                     uint8
delinq_2yrs                    int64
earliest_cr_line              object
open_acc                       int64
revol_bal                      int64
total_acc                      int64
initial_list_status            uint8
out_prncp                     object
out_prncp_inv                 object
total_pymnt                   object
total_pymnt_inv               object
total_rec_prncp               object
total_rec_int                 object
total_rec_late_fee            object
recoveries                    object
collection_recovery_fee       object
last_pymnt_amnt               object
last_credit_pull_d            object
application_type               uint8
acc_now_delinq                 int64
tot_coll_amt                   int64
                               ...
delinq_amnt                    int64
mo_sin_old_rev_tl_op           int64
mo_sin_rcnt_rev_tl_op          int64
mo_sin_rcnt_tl                 int64
mort_acc                       int64
num_accts_ever_120_pd          int64
num_actv_bc_tl                 int64
num_actv_rev_tl                int64
num_bc_sats                    int64
num_bc_tl                      int64
num_il_tl                      int64
num_op_rev_tl                  int64
num_rev_accts                  int64
num_rev_tl_bal_gt_0            int64
num_sats                       int64
num_tl_90g_dpd_24m             int64
num_tl_op_past_12m             int64
pct_tl_nvr_dlq                object
pub_rec_bankruptcies           int64
tax_liens                      int64
tot_hi_cred_lim                int64
total_bal_ex_mort              int64
total_bc_limit                 int64
total_il_high_credit_limit     int64
finantial                      uint8
medical                        uint8
property                       uint8
MORTGAGE                       uint8
OWN                            uint8
RENT                           uint8
Length: 65, dtype: object

In [61]:
data[data['home_ownership']=='ANY']

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,num_sats,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
263727,15950,15950,15950,36 months,22.39%,612.37,E,E1,ANY,90000.0,...,13,0,8,89.5,0,18,54929,39523,14200,38229
272614,12000,12000,12000,36 months,22.39%,460.72,E,E1,ANY,30000.0,...,7,0,1,100.0,0,0,40497,26913,13000,27497
310898,13800,13800,13800,60 months,22.39%,384.21,E,E1,ANY,127000.0,...,9,0,0,85.7,1,0,83921,54016,7200,75121
311231,7000,7000,7000,36 months,10.49%,227.49,B,B3,ANY,50000.0,...,6,0,2,100.0,0,0,208209,31655,10000,35043
318154,6000,6000,6000,36 months,8.59%,189.66,A,A5,ANY,70000.0,...,4,0,0,100.0,0,0,28417,16781,7300,20817
318281,15000,15000,15000,36 months,12.79%,503.9,C,C1,ANY,74360.0,...,22,0,6,100.0,1,0,86528,33123,32100,32728
340433,6000,6000,6000,36 months,10.49%,194.99,B,B2,ANY,30000.0,...,3,0,0,100.0,0,1,16000,3544,16000,0
340451,3575,3575,3575,36 months,17.99%,129.23,D,D2,ANY,24000.0,...,7,0,5,92.9,2,0,13400,9081,3500,9900
361157,3850,3850,3850,36 months,24.99%,153.06,E,E4,ANY,45000.0,...,3,0,1,100.0,0,0,22833,19990,1200,21633
362653,14850,14850,14850,36 months,13.99%,507.47,C,C3,ANY,45000.0,...,33,0,9,89.1,0,0,103036,47832,34400,32536
376782,10000,10000,10000,36 months,16.99%,356.48,D,D1,ANY,34000.0,...,6,0,1,100.0,0,0,23000,17835,16800,3000
379938,18000,18000,18000,36 months,7.99%,563.98,A,A5,ANY,52000.0,...,5,0,0,81.3,0,0,142110,28195,25400,21107
393748,31000,31000,31000,36 months,16.99%,1105.09,D,D1,ANY,126000.0,...,11,0,1,94.7,0,0,150947,96224,84300,53647
400736,16000,16000,16000,60 months,14.99%,380.56,C,C4,ANY,60000,...,12,0,2,92.9,2,0,67570,46097,21100,40570
404550,24000,24000,24000,36 months,13.99%,820.15,C,C3,ANY,135000.0,...,17,0,0,90.6,0,1,521397,157104,62300,195635
404936,8000,8000,8000,36 months,10.49%,259.99,B,B2,ANY,65000.0,...,16,0,5,87.0,0,0,182925,28330,18000,37124
406834,17000,17000,17000,36 months,22.74%,655.77,E,E1,ANY,51000.0,...,3,0,1,100.0,0,0,42500,31935,22500,20000
407513,14000,14000,14000,36 months,6.99%,432.22,A,A2,ANY,92000.0,...,14,0,1,95.2,0,0,528589,77686,102300,46989
408775,15000,15000,15000,36 months,5.32%,451.73,A,A1,ANY,105000.0,...,11,0,2,93.1,0,0,167362,80255,32300,107845
408830,8825,8825,8825,36 months,13.49%,299.44,C,C2,ANY,40000.0,...,15,0,1,93.5,0,0,103559,29216,16800,33959
408838,24000,24000,24000,60 months,19.99%,635.72,D,D4,ANY,150000.0,...,11,0,4,94.4,0,0,630696,39174,28800,36056
409216,8675,8675,8675,36 months,13.99%,296.45,C,C3,ANY,47000.0,...,8,0,2,100.0,0,0,271872,15159,0,18000
409271,10000,10000,10000,36 months,5.32%,301.15,A,A1,ANY,76000.0,...,22,0,4,97.9,0,0,268364,71224,61700,77542
409294,11200,11200,11200,36 months,5.32%,337.29,A,A1,ANY,70000.0,...,21,0,5,100.0,0,0,449570,27788,86300,17319
409417,8000,8000,8000,36 months,10.49%,259.99,B,B2,ANY,160000.0,...,7,1,1,86.7,0,0,435998,36193,4700,58568
409523,18000,18000,18000,36 months,8.24%,566.05,B,B1,ANY,120000.0,...,6,0,0,97.9,0,0,446951,40681,24000,35000
409582,26525,26525,26525,36 months,10.49%,862.01,B,B2,ANY,130000.0,...,15,0,3,100.0,0,0,137000,68085,36100,70000
409724,4000,4000,4000,36 months,8.24%,125.79,B,B1,ANY,60000.0,...,8,0,2,96.0,0,0,40750,23824,1600,35150
410577,12000,12000,12000,36 months,15.99%,421.83,C,C5,ANY,40000.0,...,7,0,1,100.0,1,0,35400,15076,27000,3000
410587,12800,12800,12800,36 months,7.24%,396.64,A,A3,ANY,55000.0,...,10,0,1,100.0,0,0,207622,35740,18000,43122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419438,5000,5000,5000,36 months,11.49%,164.86,B,B5,ANY,51000.0,...,12,0,4,100.0,0,0,93232,64796,36300,52432
419537,20000,20000,20000,60 months,8.24%,407.83,B,B1,ANY,90000.0,...,11,0,0,100.0,0,0,283200,39930,55700,25000
419638,9600,9600,9600,36 months,14.99%,332.75,C,C4,ANY,54000.0,...,4,0,0,100.0,1,0,8787,4218,0,7487
419930,16000,16000,16000,36 months,5.32%,481.84,A,A1,ANY,165800.0,...,17,0,0,95.1,0,0,768012,89775,60600,133347
419940,7000,7000,7000,36 months,5.32%,210.81,A,A1,ANY,54346.0,...,23,0,2,100.0,0,0,97742,17647,49700,30142
419961,16000,16000,16000,36 months,10.49%,519.97,B,B2,ANY,84000.0,...,14,0,3,82.8,0,0,69543,53131,6000,51943
420136,4000,4000,4000,36 months,5.32%,120.46,A,A1,ANY,89000.0,...,19,0,2,100.0,0,0,137786,52292,49400,65886
420248,5000,5000,5000,36 months,6.99%,154.37,A,A2,ANY,100000.0,...,12,0,1,96.2,0,0,87282,27170,37000,37382
420413,5000,5000,5000,36 months,11.44%,164.74,B,B4,ANY,63081.0,...,5,0,1,92.9,0,0,22600,19830,17800,0
420436,5000,5000,5000,36 months,12.74%,167.85,C,C1,ANY,120000.0,...,25,0,3,95.0,0,0,538562,145576,48500,141423
420507,14000,14000,14000,60 months,11.39%,307.13,B,B3,ANY,104000.0,...,14,0,2,100.0,0,0,375324,88451,26200,93225
420728,30000,30000,29975,36 months,11.44%,988.43,B,B4,ANY,135000.0,...,11,0,0,90.5,0,0,470780,37303,17800,37500
420740,30000,30000,30000,36 months,10.49%,974.94,B,B2,ANY,120000.0,...,13,0,3,100.0,1,0,452006,86045,32500,92531
420777,11000,11000,11000,36 months,7.99%,344.65,A,A5,ANY,50000.0,...,10,0,0,100.0,0,0,67288,35735,28900,38388
420826,10000,10000,10000,36 months,7.24%,309.87,A,A3,ANY,75000.0,...,15,0,2,90.0,0,0,140726,52847,29000,37426
420827,20000,20000,20000,60 months,22.74%,560.83,E,E1,ANY,65000.0,...,8,0,1,96.0,0,0,153573,36166,30100,23073
420863,17500,17500,17500,60 months,17.99%,444.29,D,D2,ANY,121000.0,...,19,0,2,97.4,0,0,329982,140518,32900,132227
421171,3000,3000,3000,36 months,11.49%,98.92,B,B5,ANY,136000.0,...,5,0,3,93.5,0,0,85174,68964,0,85174
421177,20000,20000,20000,36 months,5.32%,602.3,A,A1,ANY,82000.0,...,10,0,1,100.0,0,0,487946,25832,68500,18713
421591,11200,11200,11200,60 months,18.99%,290.48,D,D3,ANY,105000.0,...,12,0,3,100.0,0,0,89385,76554,12700,74285
421647,13800,13800,13800,36 months,16.99%,491.94,D,D1,ANY,95100.0,...,12,0,3,100.0,0,0,116841,74059,31300,83941
421894,25000,25000,25000,36 months,11.49%,824.29,B,B5,ANY,196000.0,...,10,0,1,89.5,0,0,77623,57953,29200,40023
422209,14000,14000,14000,36 months,11.44%,461.27,B,B4,ANY,40000.0,...,5,0,0,85.7,0,0,57500,42471,46300,11200
422292,16800,16800,16800,60 months,12.74%,380.02,C,C1,ANY,110000.0,...,14,0,5,88.9,0,0,444981,40860,11500,42881
422368,12000,12000,12000,60 months,7.99%,243.26,A,A5,ANY,103600.0,...,13,0,2,96.8,0,0,462848,84449,50500,113748
422400,1400,1400,1400,36 months,8.24%,44.03,B,B1,ANY,62000.0,...,6,0,1,100.0,1,0,380100,11116,25100,7000
422600,12000,12000,12000,36 months,11.44%,395.37,B,B4,ANY,102000.0,...,11,0,3,100.0,0,0,225117,73769,5300,82945
422640,15000,15000,15000,36 months,11.44%,494.22,B,B4,ANY,63000.0,...,11,0,1,96.3,0,0,238612,67481,25000,66212
427995,4000,4000,4000,36 months,8.24%,125.79,B,B1,ANY,30000.0,...,9,0,2,100.0,0,0,24400,10045,12600,6500
431007,3300,3300,3300,36 months,30.94%,141.8,G,G4,ANY,100008.0,...,3,0,1,100.0,0,0,218367,0,0,0

In [74]:
verification_status_temp

0         Source Verified
1            Not Verified
2            Not Verified
3            Not Verified
4            Not Verified
5         Source Verified
6            Not Verified
7            Not Verified
8         Source Verified
9                Verified
10        Source Verified
11           Not Verified
12               Verified
13           Not Verified
14        Source Verified
15               Verified
16        Source Verified
17        Source Verified
18               Verified
19        Source Verified
20           Not Verified
21        Source Verified
22           Not Verified
23           Not Verified
24               Verified
25               Verified
26           Not Verified
27           Not Verified
28        Source Verified
29           Not Verified
               ...
434377           Verified
434378       Not Verified
434379       Not Verified
434380    Source Verified
434381    Source Verified
434382    Source Verified
434383           Verified
434384           Verified
434385    Source Verified
434386    Source Verified
434387    Source Verified
434388           Verified
434389    Source Verified
434390    Source Verified
434391    Source Verified
434392    Source Verified
434393           Verified
434394       Not Verified
434395           Verified
434396           Verified
434397           Verified
434398           Verified
434399       Not Verified
434400       Not Verified
434401           Verified
434402           Verified
434403           Verified
434404       Not Verified
434405       Not Verified
434406    Source Verified
Name: verification_status, Length: 434407, dtype: object